<header class="header">
  <app-header></app-header>
  <app-side-bar></app-side-bar>
</header>
<!-- HEADER END -->
<div class="page-content">

  <div class="container">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="assets/images/stefan.jpg" alt="" class="circle">
        <span class="title">Cernescu Stefan</span>
        <p> Email: stefan.cernescu94@gmail.com <br>
          Phone number: 075*******
        </p>
        <a href="https://github.com/stefan2212" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <img src="assets/images/groza.jpg" alt="" class="circle">
        <span class="title">Groza Vasile</span>
        <p>Email: vasilegroza3@gmail.com <br>
          Phone number: 075*******
        </p>
        <a href="https://github.com/utilizatorvalid" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <img src="assets/images/gabor.jpg" alt="" class="circle">
        <span class="title">Gabor Silviu</span>
        <p>Email: <br>
          Phone Number:
        </p>
        <a href="https://github.com/silviugabor" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Coman Alexandru</span>
        <p>Email: <br>
          Phone Number:
        </p>
        <a href="https://github.com/alexcoman" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
</div>

<footer class="page-footer">
  <app-footer></app-footer>
</footer>
<!-- FOOTER END -->

