.filter-container {
  background-color: gray;
  min-height: 100vh;
}

.paper-container {
  background-color: yellowgreen;
  min-height: 100vh;
}
.filter-trigger-btn{
  position: relative;
  top: 5px;
  left: -30px;
  float: left;
}
.hide {display:none}
