<header class="header">
  <app-header></app-header>
  <app-side-bar></app-side-bar>
</header>
<!-- HEADER END -->

<div class="page-content">
  <div class=" row">

    <div class="filter-container center-align col s3">
      <!-- Grey navigation panel -->
      filter
    </div>

    <div class="paper-container col s9">
      <!-- Teal page content  -->
      search
      <div class="row">
        <div class="col s12 cards-container">
          <app-paper>
            loading paper
          </app-paper>
          <app-paper>
            loading paper
          </app-paper>
          <app-paper>
            loading paper
          </app-paper>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="page-footer">
  <app-footer></app-footer>
</footer>
<!-- FOOTER END -->
