<div class="login-box valign-wrapper row">
  <div class="col s10 pull-s1 m6 pull-m3 l4 pull-l4 z-depth-4 card-panel">
    <form id="loginForm" class="login-form">

      <div class="row">
        <div class="input-field col s12 center">
          <img width="64" height="64" src="assets/images/logo.png" alt="" class="circle responsive-img valign profile-image-login">
          <p class="center login-form-text">Log into the SciRA</p>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <label class="center-align" for="userTB">Username</label>
          <input id="userTB" name="userTB" type="text" data-error=".errorTxt1">
          <div class="errorTxt1 righted"></div>
        </div>
      </div>

      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <label class="center-align" for="passTB">Password</label>
          <input id="passTB" name="passTB" type="password" data-error=".errorTxt2">
          <div class="errorTxt2 righted"></div>
        </div>
      </div>

      <div class="row">
        <div class="input-field  col s12">
          <a id="submitBtn" class="btn waves-effect waves-light col s12 red darken-2" (click)="doLogin()">Login</a>
        </div>
        <div class="input-field col s12">
          <p class="margin center medium-small sign-up">Don't have an account?
            <a href="/signup">Register</a>
          </p>
        </div>
      </div>


    </form>
  </div>
</div>


<!-- <div class="valign-wrapper row login-page">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
      <form>
        <div class="card-content">
          <span class="card-title">Enter credentials</span>
          <div class="row">
            <div class="input-field col s12">
              <label for="email">Email address</label>
              <input type="email" class="validate" name="email" id="email" />
            </div>
            <div class="input-field col s12">
              <label for="password">Password </label>
              <input type="password" class="validate" name="password" id="password" />
            </div>
          </div>
        </div>
        <div class="card-action right-align">
          <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
          <input type="submit" class="btn green waves-effect waves-light" value="Login">
        </div>
      </form>
    </div>
  </div> -->
