/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    min-height: 100vh;
    width:100%;
    flex-direction: column;
}

html,
body {
  height: 100%;
}
.page-content{
  min-height: 100vh;
}


:root {
  --color1: #F2EFC7;
  --color2: #247BA0;
  --color3: #EEFEFF;
  --color4: #FFFFFA;
  --color5: #546A76;

}
footer.page-footer{
  background-color: var(--color1) !important;
}

