/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    min-height: 100vh;
    width:100%;
    flex-direction: column;
}

html,
body {
  height: 100%;
}
.page-content{
  min-height: 100vh;
}

